doctype html
html(lang="en")

  head
    script.
      window.BS = {};
      window.BS.BASE_URL = '#{BASE_URL}';
      window.BS.onDev = #{isDev};
    if isDev
      script.
        console.log('on development');

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title= "Bucket Streams"
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width")
  
    for href in stylesheets
      link(rel="stylesheet", href="#{href}")
    for script in topScripts
      script(src="#{script}")
  
  body(ng-app="#{appName}")
  
    if serverRendered
      block content
    else
      div(ui-view,class="height-100")

    for template in templates
      script(id="#{template.id}", type="text/ng-template")
        |!{ template.html }

    for script in scripts
      script(src="#{script}")
